    h2 {
            color: brown;
        }
           p {
           color: blue;
        }
        label{
            background-color: blueviolet;
            
        }
        button{
            background-color: aquamarine;
        }