    h2 {
            color: brown;
        }
           p {
           color: blue;
        }
         button{
            background-color: aquamarine;
        }
        body{
            background-color: lightgray;
        }
        p{
            align-items: center;
        }